.movieText {
   color: rgb(4, 143, 76);  
   font-size: 1.3vw;
   text-align: left;
}

.movieHeading {
   color: rgb(0, 216, 112);
   text-align: left;
}

.movieHeading, .movieText {
   margin: 10px;
}